# ==== Tag used for images (optional, default master)
# Only used in docker compose interpolation, not in the app iteself.
# See also available versions here:
#   https://github.com/digital-agenda-data/digital-agenda/pkgs/container/digital-agenda-app
DOCKER_TAG=master

# ==== Django secret (mandatory)
# Set to random bytes, keep REALLY SECRET!
# E.g: openssl rand -base64 64
SECRET_KEY=

# ==== HashID salt (mandatory)
# Set to random bytes, keep secret!
HASHID_FIELD_SALT=

# ==== Using HTTPS (recommended, default False)
# If set to True, enable various secure requirements
HAS_HTTPS=True

# ==== Backend host name (mandatory)
# Set to backend hostname; don't include protocol
BACKEND_HOST=

# ==== Frontend host name (mandatory)
# Set to frontend hostname; don't include protocol
FRONTEND_HOST=

# ==== DB access details (mandatory)
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=da
POSTGRES_USER=da
POSTGRES_PASSWORD=da

# ==== Redis access details (mandatory)
REDIS_HOST=redis
REDIS_PORT=6379

# ==== Email sending configuration (mandatory)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_TIMEOUT=30
DEFAULT_FROM_EMAIL=

# === Sentry (optional, default disabled)
# SENTRY_DSN=

# ==== Bulk download URL (optional, default *see below*)
# ESTAT_DOWNLOAD_BASE_URL=https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/

# ==== Bulk download timeout (optional, default=30.0)
# ESTAT_DOWNLOAD_TIMEOUT=30.0

# ==== Import files settings (optional)
# IMPORT_FILES_SUBDIR=import_files
# IMPORT_FILES_ALLOWED_EXTENSIONS=xls,xlsx
# IMPORT_FILES_ALLOWED_MIME_TYPES=application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet

# ==== Log requests (optional, default False)
# If set to true requests enable django.request logger
# LOG_REQUESTS=False

# ==== Cache expiry (optional, default None)
# Number of seconds before a cache entry is considered stale.
# By default cache entries never expire.
# CACHE_TIMEOUT=

# ==== ENV admin notice (optional, default disabled)
# Show notice in the admin, to help indentify different deploy environments.
# ENVIRONMENT_NAME='Production server'
# ENVIRONMENT_COLOR='#049d04'
# ENVIRONMENT_TEXT_COLOR='#ffffff'

# ==== Django debug (optional, default False)
# DO NOT SET THIS TO TRUE IN PRODUCTION!
# DEBUG=False

# ==== Django debug toolbar (optional, default True)
# Enables the debug toolbar; only if DEBUG is set to True
# DJANGO_DEBUG_TOOLBAR=True

# ==== Captch enabled (optional, default True)
# Enables captch for public forms
# CAPTCHA_ENABLED=True
