/*
 Extra ECL classes or overrides
*/

// This uses position absolute in the upstream ECL library. Use
// modern flex instead.
.ecl-spinner--centered {
  top: auto !important;
  left: auto !important;

  position: relative !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

// Overlay a white background over the parent container
// and display the loading.
.ecl-spinner--absolute {
  position: absolute !important;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
}

// Make the range input fill available space by default if no
// size has been specified.
.ecl-range {
  width: 100%;
}

// I'm not sure why this has extra margin here, just remove it  :/
.ecl-form-group .ecl-range {
  margin-top: 0 !important;
}

.ecl-u-break-word {
  word-break: break-word;
}

.ecl-u-position-relative {
  position: relative;
}

// There is an align helper class for the other values but
// not this one for some reason.
.ecl-u-type-align-justify {
  text-align: justify;
}

@media print {
  // Upstream this keeps the font white for print, but removes the background
  // making the text illegible. Fix it forcing the font be the primary color.
  .ecl-link--primary {
    color: #004494 !important;
  }
}

// This takes WAY too much space by default, limit it here
.ecl-table__cell:before {
  max-width: 90px;
}

// Fixes missing space next to the search button
.ecl-search-form .ecl-button__container {
  justify-content: space-around;
}

.ecl-site-header__search-toggle {
  margin-right: 2.5rem !important;
}