@import "transitions.css";

body {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app .app-wrapper:not(.digital-agenda-embedded) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

#app .app-wrapper > * {
  box-sizing: border-box;
}

#app .app-wrapper:not(.digital-agenda-embedded) main {
  flex-grow: 1;
  padding-bottom: 120px;
}

.break-word {
  word-break: break-word;
}

/*
There is an align helper class for the other values but
not this one for some reason.
*/
.ecl-u-type-align-justify {
  text-align: justify;
}

/*The specificity of this is not enough to override, patch it with !important*/
@media screen {
  .ecl-link--primary.ecl-link--no-visited:visited {
    color: #fff !important;
  }
}

.digital-agenda-embedded .hide-embedded,
.digital-agenda-embedded .ecl-page-header,
.digital-agenda-embedded .ecl-site-footer,
.digital-agenda-embedded .ecl-site-header {
  display: none;
}
