@import "chart";
@import "eclExtra";
@import "transitions";
@import "multiselect";

body.digital-agenda-embedded .globan {
  display: none;
}

#digital-agenda-app {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .app-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }

  .app-wrapper > * {
    box-sizing: border-box;
  }

  .app-wrapper main {
    flex-grow: 1;
    padding-bottom: 120px;
  }
}
