body {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app .app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}

#app .app-wrapper > * {
  box-sizing: border-box;
}

#app .app-wrapper main {
  flex-grow: 1;
  padding-bottom: 120px;
}

.break-word {
  word-break: break-word;
}

.ecl-u-type-align-justify {
  text-align: justify;
}