{% extends "admin/base.html" %}

{% load static %}

{% block extrahead %}
  <script
    defer
    src="https://europa.eu/webtools/load.js"
    type="text/javascript"
  ></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin.css" %}">
{% endblock %}

{% block header %}
  <script type="application/json">
  {
    "utility": "globan",
    "theme": "dark",
    "logo": true,
    "link": true,
    "lang": "en",
    "mode": false,
    "zindex": 40
  }
  </script>

  {{ block.super }}
{% endblock %}