{% extends "admin/base.html" %}

{% load static %}

{% block extrahead %}
  <script
    src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
    crossorigin="anonymous"></script>
  {% if GLOBAL_BANNER_ENABLED %}
    <script
      defer
      src="https://europa.eu/webtools/load.js?globan=1110"
      type="text/javascript"
    ></script>
  {% endif %}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "admin.css" %}">
{% endblock %}
