{% extends "admin/login.html" %}
{% load static %}

{% block content %}
  {% if config.PASSWORD_LOGIN_ENABLED %}
    {{ block.super }}
    <input type="hidden" value="" name="timezone" form="login-form"/>

    <script>
      function setTimezone() {
        const el = document.querySelector("input[name=timezone][form=login-form]");
        el.value = Intl.DateTimeFormat().resolvedOptions().timeZone;
      }
      setTimezone();
    </script>
  {% endif %}
  {% if config.EU_LOGIN_ENABLED %}
    <br class="clear"/>
    <div class="sso-logins">
      <p>
        Or login with
      </p>
      <div>
        <a href="{% url 'cas_ng_login' %}" class="sso-login-button">
          <img src="{% static 'eu-login.png' %}" alt="EU Login"/>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock content %}
