name: "Test Suite"
permissions:
  contents: read

on:
  workflow_call:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  suite:
    runs-on: ubuntu-latest
    env:
      TERM: xterm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: "Configure env"
        run: |
          cp .env.test .env
          sed -i "/^DOCKER_TAG=/c\DOCKER_TAG=${{ github.base_ref || github.ref_name }}" .env
          cp docker-compose.override.test.yml docker-compose.override.yml
      - name: "Start services"
        run: |
          docker compose build --pull
          docker compose up -d 
          docker compose exec -T app wait_for_services.sh
      - name: "Top"
        run: |
          docker compose top
      - name: "Install dev dependencies"
        run: |
          docker compose exec -T app pip install -c requirements/constraints.txt -r requirements/dev.txt
          cd frontend
          npm install
      - name: "Backend tests"
        id: "backendTests"
        run: |
          docker compose exec -T app pytest --cov
      - name: "Frontend tests"
        run: |
          cd frontend
          npm run test:unit -- run
      - name: "Seed DB"
        run: |
          docker compose exec -T app ./manage.py seed_db --noinput
      - name: "E2E tests"
        id: "frontendTests"
        run: |
          cd frontend
          # Don't record videos since we don't upload them
          npm run test -- -c 'video=false' -e "viewport=1920x1080"
      - name: "Dump logs"
        if: ${{ !cancelled() }}
        run: |
          docker compose ps
          docker compose logs
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && failure() && steps.frontendTests.conclusion == 'failure' }}
        with:
          name: cypress-screenshots
          path: frontend/cypress/screenshots/
